.statute{
    width: 80%;
    text-align: left;
}

.statute h1{
    font-size: 3rem;
}

.statute h2{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    font-weight: 400;
}

.statute h3{
    font-size: 1.5rem;
    font-weight: 400;
}

.statute p{
    text-indent: 2rem;
}