.page-header{
    text-align: center;
    background-color: #242424;
    padding: 2rem;
    box-shadow: var(--main-shadow);
    height: 220px;  
}

.page-header.hidden {
    transition: height 1s linear;
    height: 0;
  }

header h1{
    font-size: 3rem;
    font-weight: 400;
}

.header-social{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

@keyframes hide {
    from {
        height: auto;
        opacity: 1;
    }
    to {
        height: 0;
        opacity: 0;
    }
}