.header{
    text-align: center;
    background-color: #242424;
    padding: 2rem;
    box-shadow: var(--main-shadow);
    height: 220px;
    opacity: 1;
    transition: height 1s linear;
   /* transition: opacity 1s linear; */
    transition: transform 1s linear;
}

.header.hidden {
     height: 0;
    /*opacity: 0; */
    transform: translateY(-100%);
  }

header h1{
    font-size: 3rem;
    font-weight: 400;
}

.header-social{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

@keyframes hide {
    from {
        height: auto;
        opacity: 1;
    }
    to {
        height: 0;
        opacity: 0;
    }
}