.navigation-list{
    width: 100%;
    background-color: #242424;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 1rem;
    box-shadow: var(--main-shadow);    
    animation: menuOpen 3s linear ;
}

.navigation-link{
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

.navigation-link:hover{
    box-shadow: var(--silver-shadow);
}

@keyframes menuOpen{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
    
}