@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-shadow: 0 0 5px 5px  black;
  --silver-shadow: 0 0 5px 5px  silver;
  --main-gradient: linear-gradient(30deg, #242424, gray, #242424);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
